<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<ul>
    <li><a href="/celebrities">Go to celebrities</a></li>
    <li><a href="/celebrities/new">Add new celebrities</a> </li>
</ul>
<hr>
<ul>
    <li><a href="/movies">Go to movies</a></li>
    <li><a href="/movies/new">Add new movies</a></li>
</ul>
