<h1>Add a celebrity</h1>
<form action="/celebrities" method="POST">
	<label for="">Name: </label>	
	<input type="text" name="name">

	<label for="">Ocupation: </label>	
	<input type="text" name="occupation">
	
	<label for="">Catch Phrase: </label>	
	<input type="text" name="catchPhrase">

	<button type="submit">Add new celebrity</button>
</form>